<div class="container">
  <div class="row">
    <div class="col-md-8 order-md-1">
      <form class="needs-validation" method="post">
        <h4 class="mb-3">Search parameters</h4>
        <div class="row">
          <div class="col-md-8 mb-1">
            <label for="provider">Provider</label>
            <select class="custom-select d-block w-100" name="provider" id="provider" required autofocus>
              <option value="">Choose...</option>
              <option>GitHub</option>
              <option>GitLab</option>
              <option>BitBucket</option>
            </select>
          </div>
        </div>

        <hr class="mb-1">

        <div class="row">
          <div class="col-md-8 mb-1">
            <label for="target">Target</label>
            <select class="custom-select d-block w-100" name="target" id="target" required autofocus>
              <option value="">Choose...</option>
              <option>Amazon</option>
              <option>DigitalOcean</option>
              <option>Microsoft</option>
            </select>
          </div>
        </div>

        <hr class="mb-1">

        <div class="row">
          <div class="col-md-8 mb-1">
            <label for="searchString">Search String</label>
            <input type="text" class="form-control" id="searchString"  name="sstring" placeholder="" value="" required>
          </div>
        </div>
        <hr class="mb-4">
        <div class="col-md-8 mb-3">
          <button class="btn btn-primary btn-block" type="submit" onclick="this.disabled=true;this.form.submit();">Start search</button>
        </div>
      </form>
    </div>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2018 Webmil</p>
  </footer>
</div>
